# {{ name }}

{%- for tag in tags %}
[![{{ tag }}](https://img.shields.io/badge/{{ tag.replace(" ", "_") }}-024c73)](https://www.thingiverse.com/tag:{{ tag.replace(" ", "_") }})
{%- endfor %}

[https://www.thingiverse.com/thing:{{ thingiverse_id }}](https://www.thingiverse.com/thing:{{ file_gcode }})


{{ description }}

![thumbnail image]({{ thumbnail_image}})

## Images

{%- for file_image in files_images %}
[<img src="{{ file_image }}" alt="{{ file_image }}" width="200"/>]({{ file_image }})
{%- endfor %}

## Source - Files

{%- for file_source in files_source %}
* [{{ file_source }}]({{ file_source }})
{%- endfor %}

## 3D - Files

{%- for file_three_dimensional in files_three_dimensionals %}
* [{{ file_three_dimensional }}]({{ file_three_dimensional }})
{%- endfor %}

## GCode - Files

{%- for file_gcode in file_gcode %}
* [{{ file_gcode }}]({{ file_gcode }})
{%- else %}
NONE
{%- endfor %}