include README.md
include LICENSE
include requirements.txt
graft construction_meta_data_builder
recursive-exclude * *.py[co]
include versioneer.py
include construction_meta_data_builder/py.typed
include construction_meta_data_builder/_version.py
include construction_meta_data_builder/resources/scripts/*.py
include construction_meta_data_builder/resources/templates/*.jinja
include construction_meta_data_builder/resources/img/*