include README.md
include LICENSE
include requirements.txt
graft construction_utils
recursive-exclude * *.py[co]
include versioneer.py
include construction_utils/py.typed
include construction_utils/_version.py
include construction_utils/resources/scripts/*.py
include construction_utils/resources/templates/*.jinja
include construction_utils/resources/img/*