# {{ construction.things_data["name"] }}

{%- for tag in construction.things_data["tags"] %}
[![{{ tag }}](https://img.shields.io/badge/{{ tag.replace(" ", "_") }}-024c73)](https://www.thingiverse.com/tag:{{ tag.replace(" ", "_") }})
{%- endfor %}

[https://www.thingiverse.com/thing:{{ construction.things_data["thingiverse_id"] }}](https://www.thingiverse.com/thing:{{ construction.things_data["thingiverse_id"] }})

{% if construction.filepath_thumbnail_image %}
![thumbnail image]({{ construction.filepath_thumbnail_image}})
{% endif %}

{{ construction.things_data["thingiverse_description"] }}

## Images

{%- for file_image in construction.filepaths_img %}
[<img src="{{ file_image }}" alt="{{ file_image }}" width="200"/>]({{ file_image }})
{%- endfor %}

## Source - Files

<table>
  <tr>
    <th>Source file</th>
    <th>Preview</th>
  </tr>
{%- for file_source in construction.filepaths_source %}
  <tr>
    <td>
        <a href="{{ file_source[0] }}">{{ file_source[0] }}</a>
    </td>
    <td>
        <img src="{{ file_source[1] }}" alt="{{ file_source[1] }}" width="200"/>
    </td>
  </tr>
{%- endfor %}
</table>

## 3D - Files

{%- for file_three_dimensional in construction.filepaths_3d %}
* [{{ file_three_dimensional }}]({{ file_three_dimensional }})
{%- endfor %}

## GCode - Files

{%- for file_gcode in construction.filepaths_gcode %}
* [{{ file_gcode }}]({{ file_gcode }})
{%- else %}
NONE
{%- endfor %}